<footer>
    <div class="f-info">
        <div class="f-links">
            &copy;2024 Airbnb private limited
            <a href="/privacy"> . Privacy</a>
            <a href="/terms"> . Terms</a>
        </div>
        <div class="f-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</footer>