<% layout("/layouts/boilerplate")-%>

    <body>
        <div class="row">
            
            <div class="col-8 offset-2">
                <br><br>
                <h3>Add a new listing:</h3>
                <form method="POST" action="/listings"novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <lable for="title" class="form-label" >Title</lable>
                        <input placeholder="Enter title" name="listing[title]" type="text" class="form-control" required>
                        <div class="valid-feedback">Title goods!</div>
                        <div class="invalid-feedback">Title should be valid!</div>
                    </div>

                    <div class="mb-3">
                        <lable for="description" class="form-label">Description</lable>
                        <textarea name="listing[description]" class="form-control" required></textarea>
                        <div class="invalid-feedback">Description should be valid!</div>
                    </div>
                    <div class="mb-3">
                        <lable for="image" class="form-label">Upload image file</lable>
                        <input  name="listing[image]" type="file"
                            class="form-control" required>
                    </div>
                    <div class="row ">
                        <div class="mb-3 col-md-4">
                            <lable for="price" class="form-label">Price</lable>
                            <input placeholder="Enter price" name="listing[price]"  class="form-control" required>
                            <div class="invalid-feedback">Please enter a valid price!</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <lable for="location" class="form-label">Location</lable>
                            <input placeholder="Enter locations" name="listing[location]" type="text"
                                class="form-control"required>
                            <div class="invalid-feedback">Loaction should be valid!</div>
                        </div>

                    </div>

                    <div class="mb-3">
                        <lable for="country" class="form-label">Country</lable>
                        <input placeholder="Enter country" name="listing[country]" type="text" class="form-control" required>
                        <div class="invalid-feedback">Country name should be valid!</div>
                    </div>
                    <br><br>
                    <button class="btn btn-dark add-btn">Add</button>
                </form>

            </div>
        </div>

    </body>